body {
    padding: 15px;
    background-color: black;
}

.navbar {
    background-color: rgb(31, 30, 30);
    color: #fff;
    margin-bottom: 15px;
}

.nav-link {
    color: #fff;

}

.nav-link a:link,
a:visited {
    color: white;
    text-decoration: none;
}

.nav-link a:hover {
    color: white;
    text-shadow: 0px 0px 30px var(--white);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;

}

.nav-link a:active {
    color: white;
    text-decoration: none;
}

.nav-link p:hover {
    color: white;
    text-shadow: 0px 0px 30px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#work {
    display: grid;
}

.card {
    width: 15rem;
    display: grid;
}

.card-text {
    text-align: center;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    bottom: 3px;

}

.contact {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 15px;
    padding: 2px;
    margin-top: 15px;
}

#contactInfo {
    color: var(--white);
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-right: 5px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

#contactInfo a:link,
a:visited {
    color: var(--white);
    text-decoration: none;
}

#contactInfo a:hover {
    color: var(--white);
    text-shadow: 0px 0px 30px var(--white);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;

}

#contactInfo a:active {
    color: var(--white);
    text-decoration: none;
}

#contactInfo p:hover {
    color: var(--white);
    text-shadow: 0px 0px 30px var(--white);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}